.hops {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hops-container {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
}

.hops-container .gridlines line {
    pointer-events: none;
}

.hops-container .hover rect {
    cursor: crosshair;
}

.hops-landing {
    user-select: none;
    pointer-events: none;
}
