.wgs-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
}

.wgs-svg {
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

.wgs-gl, .wgs-density {
    image-rendering: pixelated;
}

.wgs-landing {
    user-select: none;
    pointer-events: none;
}
