.eb-root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.eb-container {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
}

.eb-container .blocks g {
    cursor: pointer;
}

.eb-container .ribbons path {
    pointer-events: none;
}

.eb-container text {
    user-select: none;
}

.eb-landing {
    user-select: none;
    pointer-events: none;
}
