.trellis-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tr-container {
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
}

.tr-container rect {
    shape-rendering: crispEdges;
}

.tr-pager text {
    user-select: none;
}

.tr-landing {
    user-select: none;
    pointer-events: none;
}
